.sectionNovidades {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    @media (max-width: 412px) {
        min-height: 50%;
    }

    h2 {
        font-size: 2.5rem;

        @media (max-width: 412px) {
            font-size: 1.5rem;
            margin: 2rem 0;
        }
    }

    figure {
        width: 90%;
        height: 60vh;
        overflow: hidden;

        @media (max-width: 412px) {
            height: 40vh;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}