.sectionNovidades {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

    h2 {
        font-size: 2.5rem;
    }

    figure {
        height: 60%;
        width: 90%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            // height: auto;
        }
    }
}