.sectionMain {
    width: 100%;
    min-height: 100vh;


    figure {
        padding-top: 8vh;
        height: 92vh;


        img {
            width: 100%;
            height: 100%;
        }
    }
}