.sectionMain {
    width: 100%;
    min-height: 100vh;
    display: flex;
    border: red 1px solid;

    @media (max-width: 412px) {
        min-height: auto;

    }

    figure {
        padding-top: 8vh;
        height: auto;

        img {
            width: 100%;
        }
    }
}