header {
    display: flex;
    width: 100%;
    height: 8vh;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    position: fixed;
    background-color: #FFFFFF;
    z-index: 1000;

    @media (max-width: 768px) {
        justify-content: space-around;
    }

    div {
        height: 75%;
        border: red 1px solid;

        a {
            img {
                height: 100%;
                object-fit: cover;
            }
        }

    }

    .navLinks {
        width: 40%;
        display: flex;
        align-items: center;
        gap: 5rem;
        padding-right: 5rem;
        border: red 1px solid;
        justify-content: end;

        @media (max-width: 768px) {
            display: none;
            width: 5%;
        }


        a {
            color: #000000;
            font-size: 1.5rem;
            font-family: "Poppins", sans-serif;
            font-weight: 500;
            font-style: normal;
        }


    }

    .navBurguer {
        display: none;
        flex-direction: column;
        gap: 6px;
        cursor: pointer;

        border: red 1px solid;

        @media (max-width: 768px) {
            display: flex;
        }

        span {
            width: 30px;
            height: 3px;
            background: #000;
            border-radius: 4px;
        }
    }

}