footer {
    margin: 0 auto;
    width: 100%;

    height: 30vh;
    display: flex;
    align-items: center;
    gap: 1rem;
    box-shadow: 0 -1px 5px #0000008e;
    padding-left: 5%;

    .navAtendimento {
        height: 80%;
        width: 20%;

        display: flex;
        flex-direction: column;
        gap: 15px;

        h2 {
            font-size: 1.5rem;
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 10px;

            li {

                a {
                    font-size: 1rem;
                    color: #2D2D2D;
                }
            }
        }
    }

    .divPagamentos {
        height: 80%;
        width: 30%;
        display: flex;
        flex-direction: column;
        gap: 15px;


        h2 {
            font-size: 1.5rem;
        }

        div {

            height: 90%;
            width: 70%;
            display: flex;
            flex-wrap: wrap;
            gap: 10px;

            img {
                height: 30%;

                object-fit: cover;
            }
        }

    }

    .navSociais {
        height: 80%;
        display: flex;
        flex-direction: column;
        gap: 15px;


        ul {
            display: flex;
            gap: 1rem;
            align-items: center;

            img {
                width: 50px;
                height: 50px;

            }
        }
    }
}