footer {
    width: 100%;
    height: 30vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-left: 5%;
    box-shadow: 0 -1px 5px #0000008e;


    @media (max-width: 412px) {
        flex-direction: column;
        height: auto;
        padding: 2rem 0;
        gap: 2rem;
    }


    .navAtendimento {
        height: 80%;
        width: 20%;
        display: flex;
        flex-direction: column;
        gap: 15px;

        @media (max-width: 412px) {
            width: 90%;
            height: auto;
        }

        h2 {
            font-size: 1.5rem;
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 10px;

            a {
                font-size: 1rem;
                color: #2D2D2D;
            }
        }
    }


    .divPagamentos {
        height: 80%;
        width: 20%;
        display: flex;
        flex-direction: column;
        gap: 15px;

        @media (max-width: 412px) {
            width: 90%;
            height: auto;
        }

        h2 {
            font-size: 1.5rem;
        }


        div {
            width: 80%;
            height: 30%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            align-items: center;
            gap: .5rem;

            img {
                object-position: center;
            }
        }
    }

    .navSociais {
        height: 80%;
        width: 20%;
        display: flex;
        flex-direction: column;
        gap: 15px;

        @media (max-width: 412px) {
            width: 90%;
            height: auto;
        }

        h2 {
            font-size: 1.5rem;
        }

        ul {
            display: flex;
            align-items: center;

            li {
                height: 100%;
                width: 100%;

                a {
                    display: block;
                    width: 70%;
                    // height: 100%;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                }
            }
        }
    }
}