footer {
    width: 100%;
    height: 30vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 1rem;
    box-shadow: 0 -1px 5px #0000008e;
    padding-left: 5%;
    background-color: aquamarine;

    .navAtendimento {
        height: 80%;
        width: 20%;

        display: flex;
        flex-direction: column;
        gap: 15px;


        h2 {

            font-size: 1.5rem;
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 10px;

            li {

                a {
                    font-size: 1rem;
                    color: #2D2D2D;
                }
            }
        }
    }

    .divPagamentos {
        height: 80%;
        width: 20%;
        display: flex;
        flex-direction: column;
        gap: 15px;



        h2 {
            font-size: 1.5rem;

        }

        div {
            height: 30%;
            width: 100%;
            justify-content: space-evenly;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            align-items: center
        }

    }

    .navSociais {
        height: 80%;
        width: 20%;
        display: flex;
        grid-template-columns: repeat(3, 1fr);
        // align-items: center;
        flex-direction: column;
        gap: 15px;


        h2 {
            font-size: 1.5rem;
        }

        ul {
            width: 100%;
            height: 20%;
            display: flex;
            gap: 1rem;
            align-items: center;

            li {
                height: 100%;

                a {
                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }


            }


        }
    }
}