*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    font-family: "Roboto", sans-serif;
    list-style: none;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}