.sectionLooks {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: red 1px solid;

    @media (max-width: 412px) {
        min-height: auto;
    }



    .h2Looks {
        border: red 1px solid;
        font-size: 2.5rem;

        @media (max-width: 412px) {
            margin: 2rem 0;
            font-size: 1.5rem;
        }
    }

    .sectionBanners {
        width: 100%;
        min-height: 60vh;
        display: flex;
        justify-content: space-evenly;
        align-items: stretch;


        @media (max-width: 412px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            width: 90%;
            gap: 1rem;
        }

        .divBanners {
            width: 20%;
            height: auto;
            position: relative;

            @media (max-width: 412px) {
                width: 100%;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
            }

            h2 {
                position: absolute;
                bottom: 20px;
                left: 20px;
                color: #ffffff;
                font-size: 2.5rem;
                text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);

                @media (max-width: 412px) {
                    font-size: 1.5rem;
                }

            }
        }
    }
}